<div class="page-content container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header">
          <h3>
            <strong>{{data.title}}</strong>
          </h3>
          <ng-content select=".control-btn"></ng-content>
        </div>
      </div>
      <div class="panel">
        <div class="panel-content">
          <!-- Filters -->
          <app-filters *ngIf="data.filter" [data]="data"></app-filters>
          <!-- End Filters -->

          <!-- Table content -->
          <ng-content select=".table-content"></ng-content>
          <!-- End Table content -->
          
          <!-- Paginator -->
          <div class="paginator pull-right">
              <ngb-pagination [collectionSize]="privateService.totalItems" [maxSize]="privateService.itemsPerPage" [pageSize]="privateService.itemsPerPage"
                [(page)]="page" [rotate]="true" [boundaryLinks]="true" (pageChange)="privateService.refreshItemsList(data.service,page)"
                aria-label="pagination"></ngb-pagination>
            </div>
            <!-- End Paginator -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
