<section>
  <!-- BEGIN SIDEBAR -->
  <div class="sidebar">
    <div class="logopanel">
      <h1>
        <a [routerLink]="[ '/' ]" (click)="cargarSubmenu('resumen')"></a>
      </h1>
    </div>
    <!-- submenu -->
    <app-submenu [submenu]="submenu"></app-submenu>
  </div>
  <app-aside></app-aside>
  <!-- END SIDEBAR -->
  <div class="main-content">
    <!-- BEGIN TOPBAR -->
    <div class="topbar">
      <app-top-menu (header)="cargarSubmenu($event)" class="header-left"></app-top-menu>
    </div>
    <!-- END TOPBAR -->
    <!-- BEGIN PAGE CONTENT -->
    <!--<div ui-view ></div>-->
    <router-outlet></router-outlet>
    <!-- END PAGE CONTENT -->
  </div>
  <!-- END MAIN CONTENT -->
</section>
