<div>
  <p>Capturada</p>
  <p>
      {{item.amount_capture}} {{item.transaction.currency_object.code}}
      <span class="btn btn-link btn-xs">
          <i *ngIf="!item.hold && !item.refund"
             uib-popover-template="'components/directives/coreItemSale/coreItemSaleStatusCaptureActions.tpl.html'"
             popover-title="Acciones"
             popover-placement="bottom-right" popover-class="popover-dashboard popover-sale-actions" class="icon-settings"></i>
          <i [hidden]="!item.hold && !item.refund" class="icon-settings c-transparent"></i>
      </span>
  </p>
</div>
<div>
  <p>Retenida</p>
  <p>
      {{item.hold_amount}} {{item.transaction.currency_object.code}}
      <span class="btn btn-link btn-xs">
          <i *ngIf="item.hold || item.partial_hold"
             uib-popover-template="'components/directives/coreItemSale/coreItemSaleStatusHoldActions.tpl.html'"
             popover-title="Acciones"
             popover-placement="bottom-right" popover-class="popover-dashboard popover-sale-actions" class="icon-settings"></i>
          <i [hidden]="item.hold || item.partial_hold" class="icon-settings c-transparent"></i>
      </span>
  </p>
</div>
<div>
  <p>Devuelta</p>
  <p>
      {{item.refund_amount}} {{item.transaction.currency_object.code}}
      <span class="btn btn-link btn-xs c-transparent"><i class="icon-settings"></i></span>
  </p>
</div>
<div class="clearfix"></div>
<div>
  <p class="w-700">Total</p>
  <p class="w-700">
      {{item.amount}} {{item.transaction.currency_object.code}}
      <span class="btn btn-link btn-xs c-transparent"><i class="icon-settings"></i></span>
  </p>
</div>