<div class="page-content container">
  <div class="header">
    <h2>
      <i class="fa fa-arrow-circle-o-left" (click)="back()"></i>
      Crear
      <strong>Aplicación</strong>
    </h2>
  </div>

  <form *ngIf="applicationForm" [formGroup]="applicationForm" (ngSubmit)="save()" novalidate>

    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-header">
            <h3>
              <strong>Datos</strong>
            </h3>
          </div>
          <div class="panel-content">
            <div class="form-group">
              <label class="control-label">Nombre</label>
              <input type="text" name="name" formControlName="name" class="form-control form-white" placeholder="Nombre">
              <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>

            </div>
            <div class="form-group">
              <label class="control-label">URL</label>
              <input type="text" name="url" class="form-control form-white" placeholder="URL" formControlName="url">
              <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.url">{{ error }}</p>

            </div>
            <div class="form-group">
              <label class="checkbox checkbox--material">
                <input type="checkbox" class="checkbox__input checkbox--material__input" name="test" formControlName="test">
                <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                En Prueba
              </label>
              <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.test">{{ error }}</p>
            </div>
            <div class="form-group">
              <label class="control-label">Logo</label>
              <input type="file" name="logo" class="form-control form-white" placeholder="Logo" formControlName="logo">
              <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.logo">{{ error }}</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-blue btn-lg btn-block">Guardar</button>
        <button type="button" class="btn btn-white btn-lg btn-block" (click)="back()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
