<app-data-dable [data]="data">
    <div class="control-btn">
        <button type="button" class="btn btn-blue btn-md btn-add"
        [routerLink]="['','items','products', 'createOrEdit','']">
            Crear producto</button>
    </div>
  <table class="table text-center table-content">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Nombre del Producto</th>
        <th class="text-right">Precio</th>
        <th class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of privateService.itemsList; index as index">
      <tr [ngClass]="{gray: index % 2}">
        <td (click)="item.isCollapsed = !item.isCollapsed">
          <div data-toggle="collapse" [attr.aria-expanded]="item.isCollapsed" [attr.aria-controls]="index">
            <i class="fa fa-minus-circle" [hidden]="!item.isCollapsed"></i>
            <i class="fa fa-plus-circle" [hidden]="item.isCollapsed"></i>
          </div>
        </td>
        <td class="text-left">{{item.id}}</td>
        <td class="text-left">{{item.name}}</td>
        <td class="text-right">{{item.price}}</td>
        <td class="text-right">
            <app-actions-buttons [item]="item" [dataActions]="dataActions"></app-actions-buttons>
        </td>
      </tr>
      <tr [ngClass]="{'gray': index % 2}">
        <td></td>
        <td colspan="6">
          <div class="collapse" [id]="index" [ngbCollapse]="!item.isCollapsed">
            <div class="card card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th width="100%">Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>
                        <p>{{item.description}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</app-data-dable>