
 
<div class="topnav no-submenu" >
    <a class="menutoggle" (click)="toogleSidebar()">
        <span class="menu__handle">
            <span>Menu</span>
        </span>
    </a>

    <ul class="nav nav-icons">
        <li routerLinkActive="active">
            <a routerLink="" (click)="cargarSubmenu('resumen')">Resumen{{privateService.application.id}}</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['','core','sales']" 
            (click)="cargarSubmenu('sales')">Pagos y Suscripciones</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="#" [routerLink]="['','items','products']" (click)="cargarSubmenu('productos')">Productos y Planes</a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['','stats','general']" (click)="cargarSubmenu('estadisticas')">Estadísticas</a>
        </li>
        <li routerLinkActive="active">
            <a  [routerLink]="['','settings', 'gateway']" (click)="cargarSubmenu('settings')">Configuración</a>
        </li>
    </ul>
</div>

 
       
<div class="header-right">
    <ul class="header-menu nav navbar-nav">
      <li class="user-menu hidden">
        <a>
          <i class="fa fa-question-circle"></i>
          <span>Ayuda</span>
        </a>
      </li>
      <!-- BEGIN USER DROPDOWN -->
      <li class="dropdown user-menu" *ngIf="true" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <img class="user image" src="{{privateService.application.logo || 'assets/image-default.jpg'}}">
          <span>{{privateService.application.name}}</span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li>
            <a [routerLink]="[ '/' ]">
              <i class="icon-info"></i>
              <span>Ver aplicación</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/' ]">
              <i class="icon-key"></i>
              <span>Ver credenciales</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/' ]">
              <i class="icon-settings"></i>
              <span>Editar aplicación</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/' ]">
              <i class="icon-list"></i>
              <span>Cambiar a otra</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- END USER DROPDOWN -->
      <!-- BEGIN USER DROPDOWN -->
      <li class="dropdown user-menu" id="user-header" uib-dropdown>
        <a href="" uib-dropdown-toggle>
          <i class="icon-settings"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li *ngIf="true">
            <a [routerLink]="[ '/billing/partner' ]">
              <i class="icon-badge"></i>
              <span>Partner</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/private/billing/retrieve' ]">
              <i class="icon-credit-card"></i>
              <span>Facturación</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/private/user/edit' ]">
              <i class="icon-settings"></i>
              <span>Editar datos</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/private/user/notification' ]">
              <i class="icon-bell"></i>
              <span>Notificaciones</span>
            </a>
          </li>
          <li>
            <a [routerLink]="[ '/private/user/password' ]">
              <i class="icon-shuffle"></i>
              <span>Cambiar contraseña</span>
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <i class="icon-logout"></i>
              <span>Salir</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- END USER DROPDOWN -->
    </ul>
  </div>
  <!-- header-right -->
   
