<div class="page-content container">
  <div class="row">
    <div class="col-md-6">
      <div class="header">
        <h2>Pasarelas de Pagos
          <strong>Disponibles</strong>
        </h2>
      </div>
      <div class="panel" *ngFor="let item of usedGatewayList; index as index">
        <div class="panel-header" style="cursor: pointer;" (click)="item.collapse = !item.collapse" data-toggle="collapse" [attr.data-target]="'#'+index" aria-expanded="false" [attr.aria-controls]="index">
          <h3>
            <img class="user image" [src]="item.image">&nbsp;{{item.name}}
          </h3>
          <div class="control-btn">
            <div class="margin-top-6 pull-left">
              <button type="button" class="btn btn-blue btn-md btn-add"
              
              ui-sref="private.applications.retrieve.settings.gateways.createOrEdit({gc: item.code.toLowerCase()})">
                Agregar</button>
            </div>
            <div class="margin-top-6 pull-left">
              <i class="fa fa-angle-down" [hidden]="!item.collapse"></i>
              <i class="fa fa-angle-up" [hidden]="item.collapse"></i>
            </div>
          </div>
        </div>
        <div class="collapse panel-content" id="{{index}}">
          <p [innerHTML]="item.explanation"></p>
          <p *ngIf="item.notify_url">
            <b>URL de Notificación</b>: https://api.mychoice2pay.com/go/manual/{{privateService.application.id}}/{{item.code}}/notify_handler/</p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="header">
        <h2>Pasarelas de Pagos
          <strong>Creadas</strong>
        </h2>
      </div>
      <div class="panel" *ngFor="let item of availableGatewayList; index as index">
        <div class="panel-header" style="cursor: pointer;" (click)="item.collapse = !item.collapse" data-toggle="collapse" [attr.data-target]="'#creadas'+index" aria-expanded="false" [attr.aria-controls]="'creadas'+index">
          <h3>
            <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'c-success': item.account_active, 'c-danger': !item.account_active}"></i>
            <img class="user image" [src]="item.image"> &nbsp;{{item.name}}
          </h3>
          <div class="control-btn">
            <div class="margin-top-6 pull-left">
              <button type="button" class="btn btn-default btn-md btn-add" 
              
              ui-sref="private.applications.retrieve.settings.gateways.createOrEdit({gc: item.code.toLowerCase()})">
                Editar</button>
            </div>
            <div class="margin-top-6 pull-left">
                    <i class="fa fa-angle-down" [hidden]="!item.collapse"></i>
                    <i class="fa fa-angle-up" [hidden]="item.collapse"></i>
                  </div>
          </div>
        </div>

        <div class="collapse panel-content" id="creadas{{index}}">
          <p [innerHTML]="item.explanation"></p>
          <p *ngIf="item.notify_url">
            <b>URL de Notificación</b>: https://api.mychoice2pay.com/go/manual/{{privateService.application.id}}/{{item.code}}/notify_handler/</p>
        </div>

      </div>
    </div>
  </div>
</div>
