<app-data-dable [data]="data">
  <table class="table text-center table-content">
    <thead>
      <tr>
        <th></th>
        <th class="text-center">token</th>
        <th class="text-center">tipo de transacción</th>
        <th class="text-center">fecha de creación</th>
        <th class="text-right">total a pagar</th>
        <th class="text-center">link de pago</th>
        <th class="text-center">estado</th>      
      </tr>
    </thead>
    <tbody *ngFor="let item of privateService.itemsList; index as index">
      <tr [ngClass]="{gray: index % 2}">
        <td (click)="item.isCollapsed = !item.isCollapsed">
          <div data-toggle="collapse" [attr.aria-expanded]="item.isCollapsed" [attr.aria-controls]="index">
            <i class="fa fa-minus-circle" [hidden]="!item.isCollapsed"></i>
            <i class="fa fa-plus-circle" [hidden]="item.isCollapsed"></i>
          </div>
        </td>

        <td class="text-left">{{item.token}}</td>
        <td>{{item.display_type}}</td>
        <td>{{item.created_date|date:'dd/MM/yyyy'}}</td>
        <td class="text-right">{{item.total_price}} {{item.currency_object.code}}</td>
        <td>
          <a href=""> Copiar </a>
        </td>
        <td>
          <span class="label label-primary label-full bd-9 w-700">{{item.display_status}}</span>
        </td>
      </tr>
      <tr [ngClass]="{'gray': index % 2}" class="panel-collapse">
        <td></td>
        <td colspan="6">
          <div class="collapse" [id]="index" [ngbCollapse]="!item.isCollapsed">
            <div class="card card-body">
              <app-core-item [item]="item"></app-core-item>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</app-data-dable>
