<!--<div ui-view="submenu" class="sidebar-inner">-->

<!-- submenu -->
<div class="sidebar">
  <div class="sidebar-inner">
    <div [ngSwitch]="submenu">

      <ul *ngSwitchCase="'sales'" class="nav nav-sidebar">
        <li routerLinkActive="active">
          <a [routerLink]="['','core','sales']">
            <span>Pagos</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'core','subscriptions']">
            <span>Suscripciones</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'core','authorizations']">
            <span>Autorizaciones</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'core','transactions']">
            <span>Transacciones</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'core','orders']">
            <span>Órdenes</span>
          </a>
        </li>
      </ul>


      <ul *ngSwitchCase="'productos'" class="nav nav-sidebar">
        <li routerLinkActive="active">
          <a [routerLink]="['',  'items','products']">
            <span>Productos</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'items','plans']">
            <span>Planes</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['',  'items','coupons']">
            <span>Cumpones</span>
          </a>
        </li>
      </ul>



      <ul *ngSwitchCase="'estadisticas'" class="nav nav-sidebar">
        <li routerLinkActive="active">
          <a [routerLink]="['',  'stats','general']">
            <span>Ventas</span>
          </a>
        </li>
      </ul>


      <ul *ngSwitchCase="'settings'" class="nav nav-sidebar">
        <li routerLinkActive="active">
          <a [routerLink]="['','settings','gateway']">
            <span>Pasarelas de Pago</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['','settings','taxes']">
            <span>Impuestos</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['','settings','shippings']">
            <span>Envíos</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['','settings','webhooks']">
            <span>Web Hooks</span>
          </a>
        </li>
      </ul>

      <!-- <div *ngSwitchDefault></div>
  </div> -->

    </div>

    <ul class="nav nav-sidebar"></ul>
  </div>
