
<td *ngFor="let action of dataActions.buttons" class="text-right">

<!-- edit item -->
<a  *ngIf="action == 'edit'" class="edit btn btn-sm btn-default" data-toggle="tooltip" data-placement="top" title="Editar"
(click)="edit(item)">
  <i class="fa icon-note"></i>
</a>
<!-- ./edit item -->
<!-- clone item -->
<a  *ngIf="action == 'clone'" class="edit btn btn-sm btn-blue" data-toggle="tooltip" data-placement="top" title="Clonar"
  (click)="clone(item.id)">
  <i class="fa fa-magic"></i>
</a>
<!-- ./clone item -->
<!-- delete item -->
<a *ngIf="action == 'delete'" class="edit btn btn-sm btn-danger" (click)="delete(item.id)" data-toggle="tooltip" data-placement="top" title="Eliminar">
  <i class="fa fa-trash"></i>
</a>
<!-- ./delete item -->
</td>