<table class="table">
  <thead>
    <tr>
      <th width="25%" *ngIf="item.order_type === 'P'">Orden de pago</th>
      <th width="45%" *ngIf="item.order_type === 'P'">Productos</th>
      <th width="70%" [hidden]="item.order_type === 'P'">Datos de subscripción</th>
      <th width="30%" class="text-center">Métodos de pago habilitados</th>
    </tr>
  </thead>
  <tbody *ngIf="item.order_type === 'P'">
    <tr>
      <td>
        <div>
          <p>Productos</p>
          <p>{{item.items_price}} {{item.currency_object.code}}</p>
        </div>
        <div *ngIf="item.real_object.shipping_name">
          <p>{{item.real_object.shipping_name}} </p>
          <p>{{item.real_object.shipping_value}} {{item.currency_object.code}}</p>
        </div>
        <div *ngIf="item.real_object.coupon_name">
          <p>{{item.real_object.coupon_name}} </p>
          <p>-{{item.real_object.coupon_value}} {{item.currency_object.code}}</p>
        </div>
        <div *ngIf="item.real_object.tax_name">
          <p>{{item.real_object.tax_name}} </p>
          <p>{{item.real_object.tax_value}} {{item.currency_object.code}}</p>
        </div>
        <div class="clearfix"></div>
        <div>
          <p class="w-700">Total</p>
          <p class="w-700">{{item.total_price}} {{item.currency_object.code}}</p>
        </div>
      </td>
      <td>
        <div *ngFor="let pObj of item.real_object.products_object">
          <p>{{pObj.product.name}}
            <!-- <span class="btn btn-link btn-xs" uib-popover="Cantidad: {{pObj.amount}}" popover-title="Precio unitario: {{pObj.product.price}} item.currency_object.code}}"
              popover-placement="right" popover-class="popover-dashboard">...</span> -->
          </p>
          <p>{{pObj.amount * pObj.product.price}} {{item.currency_object.code}}</p>
        </div>
        <div class="clearfix"></div>
        <div>
          <p class="w-700">Total en productos</p>
          <p class="w-700">{{item.items_price}} {{item.currency_object.code}}</p>
        </div>
      </td>
      <td class="text-center">
        <span class="label label-default bd-6 w-700" *ngFor="let gateway of item.gateways_object">{{gateway.short_name}}</span>
      </td>
    </tr>
  </tbody>


  <!-- <tbody [hidden]="item.order_type === 'P' || !item.real_object">
        <tr>
            <td>
                <div>
                    <p class="w-700">item.real_object.plan_object.name}}</p>
                </div>
                <div *ngIf="item.real_object.trial_price1">
                    <p>item.real_object.trial_price1}} item.currency_object.code}} durante los primeros item.real_object.duration1}} item.real_object.display_unit1}} </p>
                </div>
                <div *ngIf="item.real_object.trial_price2">
                    <p>Después item.real_object.trial_price2}} item.currency_object.code}} por item.real_object.duration2}} item.real_object.display_unit2}}</p>
                </div>
                <div>
                    <p><span *ngIf="item.real_object.trial_price1">Después</span> item.real_object.plan_object.price}} item.currency_object.code}} <span *ngIf="item.real_object.plan_object.recurring">cada</span><span *ngIf="!item.real_object.plan_object.recurring">por</span> item.real_object.plan_object.duration}} item.real_object.plan_object.display_unit}}</p>
                </div>
                <div class="clearfix"></div>
                <div>
                    <p class="w-700">A pagar</p>
                    <p class="w-700">item.total_price}} item.currency_object.code}}</p>
                </div>
            </td>
            <td>
                <span class="label label-default bd-6 w-700" *ngFor="let gateway of item.gateways_object">{{gateway.short_name}}</span>
            </td>
        </tr>
    </tbody>
    <tbody [hidden]="item.order_type === 'P' || item.real_object">
        <tr>
            <td>
                <div>
                    <p class="w-700">item.plan_object.name}}</p>
                </div>
                <div *ngIf="item.trial_price1">
                    <p>item.trial_price1}} item.currency_object.code}} durante los primeros item.duration1}} item.display_unit1}} </p>
                </div>
                <div *ngIf="item.trial_price2">
                    <p>Después item.trial_price2}} item.currency_object.code}} por item.duration2}} item.display_unit2}}</p>
                </div>
                <div>
                    <p><span *ngIf="item.trial_price1">Después</span> item.plan_object.price}} item.currency_object.code}} <span *ngIf="item.plan_object.recurring">cada</span><span *ngIf="!item.plan_object.recurring">por</span> item.plan_object.duration}} item.plan_object.display_unit}}</p>
                </div>
                <div class="clearfix"></div>
                <div>
                    <p class="w-700">A pagar</p>
                    <p class="w-700">item.total_price}} item.currency_object.code}}</p>
                </div>
            </td>
            <td>
                <span class="label label-default bd-6 w-700" *ngFor="let gateway of item.gateways_object">{{gateway.short_name}}</span>
            </td>
        </tr>
    </tbody> -->
</table>
