<div class="p-30">
    <div class="navbar m-t-0">
        <div class="pull-center">          
            <a [routerLink]="['/login']" class="navbar-brand">              
                <img src="assets/logo.svg" class="svg-logo">
                <img src="assets/favicon.png" alt="." class="hide">              
            </a>
        </div>
    </div>
</div>

<div class="b-t p-t-10">
    <div class="center-block p-t-30 p-b-30 p-l-10 p-r-10">
     
      <h2 class="c-primary text-center">Iniciar sessión</h2>
      <ul class="list-unstyled m-b-20">
        <p class="text-left text-danger f-12">{{ errors.error }}</p>
      </ul>
  
      <form class="text-center" role="form" #postForm="ngForm" novalidate>
        <div class="form-group">
          <input type="email" name="email" class="form-control f-16" placeholder="Correo" required [(ngModel)]="user.email">
          <p class="text-left text-danger f-12" *ngFor="let error of errors.email">{{ error }}</p>
        </div>
  
  
        <div class="form-group">
          <input type="password" name="password" class="form-control f-16" placeholder="Contraseña" required [(ngModel)]="user.pwd">
          <p class="text-left text-danger f-12" *ngFor="let error of errors.password">{{ error }}</p>
          <div class="text-left p-t-10">
            <a [routerLink]="['/forgot']" class="text-left text-info f-12 c-primary">
              ¿Olvidaste la contraseña?
            </a>
          </div>
        </div>
        <button class="text-center btn btn-blue m-20" [disabled]="!postForm.valid" (click)="login()">ENTRAR</button>
      </form>
  
      <a [routerLink]="['/register']" class="f-12 c-black p-20 text-center">
        ¿No estás registrado en MyChoice2Pay? Haga click aquí para crear una cuenta
      </a>
    </div>
    
  </div>





