<!-- HEADER -->


<!--<div ui-view="submenu" class="sidebar-inner">-->

  <nav class="navbar navbar-topmenu" *ngIf="true">
    <div class="show-xs">
      <div class="col-xs-12">
        <div class="widget-app p-b-10 clearfix" style="min-height: 0">
          <h2 class="app-name m-t-0 m-b-0 m-r-10 pull-left">
            <strong>{{application.name}}</strong>
          </h2>
          <button type="button" class="btn btn-sm btn-default btn-transparent btn-rounded app-status m-b-0" *ngIf="application.test">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <span class="text-uppercase">Sitio en prueba</span>
          </button>
        </div>
      </div>
      <div class="col-xs-12">
        <ul class="app-stats-list list-inline p-t-10 p-b-10 text-right">
          <li class="no-border">
            <p class="m-b-0">Hoy</p>
            <p class="m-b-0">
              <strong>{{applicationTotals.day || 0}}€</strong>
            </p>
          </li>
          <li class="no-border p-r-0">
            <p class="text-uppercase m-b-0">total</p>
            <div class="total">
              <p class="m-b-0 value">
                <strong>{{applicationTotals.total || 0}}€</strong>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="container hidden-xs">
      <div class="col-md-5">
        <div class="widget-app clearfix">
          <div class="col-xs-4">
            <img class="img-circle img-thumbnail" style="max-height: 108px" src="{{application.logo || 'assets/image-default.jpg'}}">
          </div>
          <div class="col-xs-8">
            <h2 class="app-name">
              <strong>{{application.name}}</strong>
            </h2>
            <button type="button" class="btn btn-sm btn-default btn-transparent btn-rounded app-status" *ngIf="application.test">
              <i class="fa fa-circle" aria-hidden="true"></i>
              <span class="text-uppercase">Sitio en prueba</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <ul class="app-stats-list list-inline">
          <li>
            <p class="m-b-0">Hoy</p>
            <p class="m-b-0">
              <strong>{{applicationTotals.day || 0}}€</strong>
            </p>
          </li>
          <li>
            <p class="m-b-0">Semana</p>
            <p class="m-b-0">
              <strong>{{applicationTotals.week || 0}}€</strong>
            </p>
          </li>
          <li>
            <p class="m-b-0">Mes</p>
            <p class="m-b-0">
              <strong>{{applicationTotals.month || 0}}€</strong>
            </p>
          </li>
          <li class="total">
            <p class="m-b-0 suptitle">total en ventas</p>
            <p class="m-b-0 value">
              <strong>{{applicationTotals.total || 0}}€</strong>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.container -->
  </nav>
  <!-- END HEADER -->
  
  <!-- BEGIN ALERTS -->
  <div class="alerts-top" *ngIf="application.test && true">
    <div class="angular-alert alert alert-width-100 alert-info fade in" role="alert">
      <div class="media-body width-100p">
        <p class="text-center">
          <i class="fa fa-exclamation-circle"></i>
        </p>
        <p class="angular-title text-center">Sitio en prueba</p>
        <div class="angular-txt">
          <p class="text-center">Todos los pagos se realizarán utilizando los sitios de prueba de las distintas pasarelas</p>
        </div>
      </div>
    </div>
  </div>
  <!-- END ALERTS -->

  <div class="page-content page-thin container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-content widget-full widget-stock stock2">
            <div class="tab_right">
              <ul class="nav nav-tabs hidden-xs">
                <li class="lines-3" *ngFor="let item of totalNGateways.graph.series; index as index" [ngClass]="{'active': totalNGateways.activeTab === index}">
                  <a (click)="onTotalNGatewaysTabClick(index)">
                    <div class="clearfix">
                      <span class="title c-gray pull-left">{{item}}</span>
                    </div>
                    <div class="clearfix p-t-10">
                      <span class="c-black f-18 pull-left">
                        <strong>{{totalNGateways.graph.total[index]}}</strong>
                      </span>
                      <span class="label label-primary p-5 pull-right">{{totalNGateways.graph.percent[index]}}%</span>
                    </div>
                  </a>
                </li>
                <li class="lines-3">
                  <a [routerLink]="[ '/gateways_list']">
                    <div class="clearfix">
                      <button type="button" class="btn btn-blue btn-sm btn-block">ADMINISTRAR MÉTODOS DE PAGO</button>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="title-stock">
                  <h3>
                    <i class="icon-graph"></i>Pagos por
                    <strong>Pasarela</strong>
                  </h3>
                  <span class="c-red hidden">100%</span>
                </div>
                <div class="tab-pane active">
                  <div class="clearfix"></div>
                  <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNGateways.period === 'week'}" (click)="getTotalNGatewaysGraph('week')">
                    Semana
                  </button>
                  <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNGateways.period === 'month'}" (click)="getTotalNGatewaysGraph('month')">
                    Mes
                  </button>
                  <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNGateways.period === 'year'}" (click)="getTotalNGatewaysGraph('year')">
                    Año
                  </button>
                  <div>
                    <canvas id="line">{{ chart }}</canvas>
                  </div>

                  <!-- <canvas id="line" class="chart chart-line" height="100"
                                        chart-data="totalNGatewaysGraph.data"
                                        chart-series="totalNGatewaysGraph.series"
                                        chart-labels="totalNGateways.graph.labels"></canvas> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-content p-15 p-b-0">
            <div class="title-stock">
              <h3>
                <i class="icon-graph"></i>Movimientos
                <strong>Totales</strong>
              </h3>
            </div>
            <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'week'}" (click)="getTransactionsNSalesGraph('week')">
              Semana
            </button>
            <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'month'}" (click)="getTransactionsNSalesGraph('month')">
              Mes
            </button>
            <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'year'}" (click)="getTransactionsNSalesGraph('year')">
              Año
            </button>
            <div>
              <canvas id="bar">{{ chart }}</canvas>
            </div>

            <!-- <canvas id="bar" class="chart chart-bar" height="100"
                            chart-data="transactionsNSales.graph.data"
                            chart-series="transactionsNSales.graph.series"
                            chart-labels="transactionsNSales.graph.labels"></canvas>-->
          </div>
        </div>
      </div>
    </div>
  </div>


