<app-create-or-edit [formGroup]="webhooksForm" [data]="data">
  <div class="panel-content">
    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" name="name" class="form-control form-white" placeholder="Nombre" formControlName="name">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">URL</label>
      <input type="text" name="url" class="form-control form-white" placeholder="URL" formControlName="url">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.url">{{ error }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Tipo de Web Hook</label>
        <select name="web_hook_type" class="form-control form-white input-sm p-no-sides" data-search="true" formControlName="web_hook_type">
          <option *ngFor="let item of TypeChoices" value="{{item.id}}">{{item.name}}</option>
        </select>
        <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.web_hook_type">{{ error }}</p>
    </div>
  </div>
</app-create-or-edit>
