<app-data-dable [data]="data">
  <div class="control-btn">
    <button type="button" class="btn btn-blue btn-md btn-add" [routerLink]="['','settings','webhooks', 'createOrEdit','']">
      Crear web hook</button>
  </div>
  <table class="table text-center table-content">
    <thead>
      <tr>
        <th>Nombre</th>
        <th class="text-left">URL</th>
        <th class="text-center">Type</th>
        <th class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of privateService.itemsList" [ngClass]="{gray: $index % 2}">
        <td>{{item.name}}</td>
        <td class="text-left">{{item.url}}</td>
        <td class="text-center">{{item.web_hook_type}}</td>
        <td class="text-right">
          <app-actions-buttons [item]="item" [dataActions]="dataActions"></app-actions-buttons>
        </td>
      </tr>
    </tbody>
  </table>
</app-data-dable>
