<div class="col-md-8 row">
    <div class="form-group col-md-3">
      <select class="form-control form-white input-sm p-no-sides" data-search="true" [(ngModel)]="privateService.query.opType"
        [ngModelOptions]="{ debounce: 1000 }" (ngModelChange)="refreshItemsList()">
        <option [ngValue]="undefined" disabled selected>- Filtar por tipo -</option>
        <option *ngFor="let item of operationTypeChoices" [ngValue]="item">{{ item.name }}</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <select class="form-control form-white input-sm p-no-sides" data-search="true" [(ngModel)]="privateService.query.currency"
        [ngModelOptions]="{ debounce: 1000 }" (ngModelChange)="refreshItemsList()">
        <option [ngValue]="undefined" disabled selected>- Filtar por moneda -</option>
        <option *ngFor="let item of currencyList" [ngValue]="item">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <label class="form-label col-md-2 hidden-xs small-size">Rango:</label>
        <div class="col-md-10 ">
          <div class="input-daterange b-datepicker input-group" id="datepicker">
            <input type="text" (click)="from.toggle()" class="input-sm form-control form-white" placeholder="From" name="start" [displayMonths]="displayMonths"
              [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
              #from="ngbDatepicker" [ngModelOptions]="{ debounce: 1000 }" [(ngModel)]="privateService.query.date_min"
              (ngModelChange)="refreshItemsList()">
            <span class="input-group-addon">A</span>
            <input type="text" (click)="to.toggle()" class="input-sm form-control form-white" placeholder="To" name="end" [displayMonths]="displayMonths"
              [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
              #to="ngbDatepicker" [ngModelOptions]="{ debounce: 1000 }" [(ngModel)]="privateService.query.date_max"
              (ngModelChange)="refreshItemsList()">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 pull-right row">
    <div class="pull-right">
      <div class="form-group">
        <label class="form-label col-md-7 hidden-xs small-size">Búsqueda por ID:</label>
        <div class="col-md-5">
          <input class="form-control form-white input-sm" type="text" placeholder="ID" [(ngModel)]="privateService.query.search" [ngModelOptions]="{ debounce: 1000 }"
            (ngModelChange)="refreshItemsList()" />
        </div>
      </div>
    </div>
  </div>