<app-data-dable [data]="data">
  <div class="control-btn">
    <button type="button" class="btn btn-blue btn-md btn-add" [routerLink]="['','items','coupons', 'createOrEdit','']">Crear cupón</button>
  </div>
  <!-- <p>dsdsdsdd</p> -->
  <table class="table text-center table-content">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Nombre de Cupón</th>
        <th class="text-right">Tipo de Descuento</th>
        <th class="text-center">Habilitado</th>
        <th class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of privateService.itemsList; index as index">
      <tr [ngClass]="{gray: index % 2}">
        <td (click)="item.isCollapsed = !item.isCollapsed">
          <div data-toggle="collapse" [attr.aria-expanded]="item.isCollapsed" [attr.aria-controls]="index">
            <i class="fa fa-minus-circle" [hidden]="!item.isCollapsed"></i>
            <i class="fa fa-plus-circle" [hidden]="item.isCollapsed"></i>
          </div>
        </td>
        <td class="text-left">{{item.id}}</td>
        <td class="text-left">{{item.name}}</td>
        <td>{{item.display_coupon_type}}</td>
        <td>{{item.enabled}}</td>
        <td class="text-right">
          <app-actions-buttons [item]="item" [dataActions]="dataActions"></app-actions-buttons>
        </td>
      </tr>
      <tr [ngClass]="{'gray': index % 2}">
        <td></td>
        <td colspan="7">
          <div class="collapse" [id]="index" [ngbCollapse]="!item.isCollapsed">
            <div class="card card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th width="30%">Código</th>
                    <th width="35%">Aplica a productos</th>
                    <th width="35%">Aplica a suscripciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>
                        <p>{{item.code}}</p>
                      </div>
                    </td>
                    <td>
                      <div>
                        <p>{{item.apply_to_products}}</p>
                      </div>
                    </td>
                    <td>
                      <div>
                        <p>{{item.apply_to_plans}}</p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</app-data-dable>
