<table class="table">
  <thead>
      <tr>
          <th width="25%" *ngIf="item.transaction.order_type === 'P'">Orden de pago</th>
          <th width="40%" *ngIf="item.transaction.order_type === 'P'">Productos</th>
          <th width="65%" *ngIf="item.transaction.order_type != 'P'">Datos de subscripción</th>
          <th width="35%">Estado de Pago</th>
      </tr>
  </thead>
  <tbody *ngIf="item.transaction.order_type === 'P'">
      <tr>
          <td>
              <div>
                  <p>Productos</p>
                  <p>{{item.transaction.items_price}} {{item.transaction.currency_object.code}}</p>
              </div>
              <div *ngIf="item.transaction.real_object.shipping_name">
                  <p>{{item.transaction.real_object.shipping_name}} </p>
                  <p>{{item.transaction.real_object.shipping_value}} {{item.transaction.currency_object.code}}</p>
              </div>
              <div *ngIf="item.transaction.real_object.coupon_name">
                  <p>{{item.transaction.real_object.coupon_name}} </p>
                  <p>- {{item.transaction.real_object.coupon_value}} {{item.transaction.currency_object.code}}</p>
              </div>
              <div *ngIf="item.transaction.real_object.tax_name">
                  <p>{{item.transaction.real_object.tax_name}} </p>
                  <p>{{item.transaction.real_object.tax_value}} {{item.transaction.currency_object.code}}</p>
              </div>
              <div class="clearfix"></div>
              <div>
                  <p class="w-700">Total</p>
                  <p class="w-700">{{item.transaction.total_price}} {{item.transaction.currency_object.code}}</p>
              </div>
          </td>
          <td>
              <div *ngFor="let pObj of item.transaction.real_object.products_object">
                  <p>{{pObj.product.name}}
                      <!-- <span class="btn btn-link btn-xs"
                              uib-popover="Cantidad: {{pObj.amount}}"
                              popover-title="Precio unitario: {{pObj.product.price}} {{item.transaction.currency_object.code}}"
                              popover-placement="right" popover-class="popover-dashboard">...</span> -->
                  </p>
                  <p>{{pObj.amount * pObj.product.price}} {{item.transaction.currency_object.code}}</p>
              </div>
              <div class="clearfix"></div>
              <div>
                  <p class="w-700">Total en productos</p>
                  <p class="w-700">{{item.transaction.items_price}} {{item.transaction.currency_object.code}}</p>
              </div>
          </td>
          <td>
              <app-core-item-sales-status [item]="item"></app-core-item-sales-status>              
          </td>
      </tr>
  </tbody>


<!-- 
  <tbody [hidden]="item.transaction.order_type === 'P' || !item.transaction.real_object">
      <tr>
          <td>
              <div>
                  <p class="w-700">{{item.transaction.real_object.plan_object.name}}</p>
              </div>
              <div *ngIf="item.transaction.real_object.trial_price1">
                  <p>{{item.transaction.real_object.trial_price1}} {{item.transaction.currency_object.code}} durante los primeros {{item.transaction.real_object.duration1}} {{item.transaction.real_object.display_unit1}} </p>
              </div>
              <div *ngIf="item.transaction.real_object.trial_price2">
                  <p>Después {{item.transaction.real_object.trial_price2}} {{item.transaction.currency_object.code}} por {{item.transaction.real_object.duration2}} {{item.transaction.real_object.display_unit2}}</p>
              </div>
              <div>
                  <p><span *ngIf="item.transaction.real_object.trial_price1">Después</span> {{item.transaction.real_object.plan_object.price}} {{item.transaction.currency_object.code}} <span *ngIf="item.transaction.real_object.plan_object.recurring">cada</span><span *ngIf="!item.transaction.real_object.plan_object.recurring">por</span> {{item.transaction.real_object.plan_object.duration}} {{item.transaction.real_object.plan_object.display_unit}}</p>
              </div>
              <div class="clearfix"></div>
              <div>
                  <p class="w-700">A pagar</p>
                  <p class="w-700">{{item.transaction.total_price}} {{item.transaction.currency_object.code}}</p>
              </div>
          </td>
          <td>
              <div ng-include="'components/directives/coreItemSale/coreItemSaleStatus.tpl.html'"></div>
          </td>
      </tr>
  </tbody>
  <tbody [hidden]="item.transaction.order_type === 'P' || item.transaction.real_object">
      <tr>
          <td>
              <div>
                  <p class="w-700">{{item.transaction.plan_object.name}}</p>
              </div>
              <div *ngIf="item.transaction.trial_price1">
                  <p>{{item.transaction.trial_price1}} {{item.transaction.currency_object.code}} durante los primeros {{item.transaction.duration1}} {{item.transaction.display_unit1}} </p>
              </div>
              <div *ngIf="item.transaction.trial_price2">
                  <p>Después {{item.transaction.trial_price2}} {{item.transaction.currency_object.code}} por {{item.transaction.duration2}} {{item.transaction.display_unit2}}</p>
              </div>
              <div>
                  <p><span *ngIf="item.transaction.trial_price1">Después</span> {{item.transaction.plan_object.price}} {{item.transaction.currency_object.code}} <span *ngIf="item.transaction.plan_object.recurring">cada</span><span *ngIf="!item.transaction.plan_object.recurring">por</span> {{item.transaction.plan_object.duration}} {{item.transaction.plan_object.display_unit}}</p>
              </div>
              <div class="clearfix"></div>
              <div>
                  <p class="w-700">A pagar</p>
                  <p class="w-700">{{item.transaction.total_price}} {{item.transaction.currency_object.code}}</p>
              </div>
          </td>
          <td>
              <div ng-include="'components/directives/coreItemSale/coreItemSaleStatus.tpl.html'"></div>
          </td>
      </tr>
  </tbody>
</table> -->