<app-create-or-edit [formGroup]="productForm" [data]="data">
  <div class="panel-content">

    <div class="form-group">
      <label class="control-label">ID de Producto</label>
      <input type="text" formControlName="product_id" name="product_id" class="form-control form-white" placeholder="ID de Producto">
    </div>

    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" name="name" formControlName="name" class="form-control form-white" placeholder="Nombre">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
    </div>

    <div class="form-group">
      <label class="control-label">Precio</label>
      <input type="text" formControlName="price" name="price" class="form-control form-white" placeholder="Precio">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.price">{{ error }}</p>
    </div>

    <div class="form-group">
      <label class="control-label">Descripción</label>
      <textarea formControlName="description" name="description" class="form-control form-white" rows="6"></textarea>
    </div>
  </div>
</app-create-or-edit>
