<div class="page-content container">
  <div class="header">
    <h2>
      <i class="fa fa-arrow-circle-o-left"  (click)="back()"></i>
      Crear
      <strong>{{data.title}}</strong>
    </h2>
  </div>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save(form)" novalidate>

    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-header">
            <h3>
              <strong>Datos</strong>
            </h3>
          </div>
              <!-- Form content -->
          <ng-content></ng-content>
          <!-- End Form content -->
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-blue btn-lg btn-block">Guardar</button>
        <button type="button" class="btn btn-white btn-lg btn-block" (click)="back()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
