<app-create-or-edit [formGroup]="shippingsForm" [data]="data">
  <div class="panel-content">
    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" name="name" class="form-control form-white" placeholder="Nombre" formControlName="name">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Precio</label>
      <input type="text" name="price" class="form-control form-white" placeholder="Precio" formControlName="price">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.price">{{ error }}</p>
    </div>

  </div>
</app-create-or-edit>
 