<app-create-or-edit [formGroup]="PlanForm" [data]="data">
  <div class="panel-content">
    <div class="form-group">
      <label class="control-label">ID de Plan</label>
      <input type="text" formControlName="plan_id" name="plan_id" class="form-control form-white" placeholder="ID de Plan">
    </div>
    <div class="form-group">
      <label class="control-label">Nombre</label>
      <input type="text" formControlName="name" name="name" class="form-control form-white" placeholder="Nombre">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Precio</label>
      <input type="text" formControlName="price" name="price" class="form-control form-white" placeholder="Precio">
      <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.price">{{ error }}</p>
    </div>
    <div class="form-group">
      <label class="control-label">Descripción</label>
      <textarea class="form-control form-white" rows="6" formControlName="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label">Durante</label>
      <div class="row">
        <div class="col-sm-6">
          <input type="text" formControlName="duration" name="duration" data-vertical="true" value="1" data-step="1" class="numeric-stepper form-control form-white">
          <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.duration">{{ error }}</p>
        </div>
        <div class="col-sm-6">
          <select formControlName="unit" name="unit" class="form-control form-white" data-search="true">
            <option *ngFor="let item of privateService.unitList" value="{{item.id}}">{{item.text}}</option>
          </select>
          <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.unit">{{ error }}</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="checkbox checkbox--material">
        <input type="checkbox" class="checkbox__input checkbox--material__input" formControlName="recurring" name="recurring">
        <div class="checkbox__checkmark checkbox--material__checkmark"></div>
        Recurrente
      </label>
    </div>
  </div>
</app-create-or-edit>
