<app-data-dable [data]="data">
  <table class="table text-center table-content">
    <thead>
      <tr>
        <th></th>
        <th class="text-center">id de pago</th>
        <th class="text-center">tipo de pago</th>
        <th class="text-center">fecha de pago</th>
        <th class="text-right">total pagado</th>
        <th class="text-center">método de pago</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of privateService.itemsList; index as index">
      <tr [ngClass]="{gray: index % 2}">
        <td (click)="item.isCollapsed = !item.isCollapsed">
          <div data-toggle="collapse" [attr.aria-expanded]="item.isCollapsed" [attr.aria-controls]="index">
            <i class="fa fa-minus-circle" [hidden]="!item.isCollapsed"></i>
            <i class="fa fa-plus-circle" [hidden]="item.isCollapsed"></i>
          </div>
        </td>
        <td class="text-left">{{item.id}}</td>
        <td>{{item.transaction.display_type}}</td>
        <td>{{item.created_date|date:'dd/MM/yyyy'}}</td>
        <td class="text-right">
          {{item.amount}} {{item.transaction.currency_object.code}}
          <span class="btn btn-link btn-xs">
            <i *ngIf="item.hold" data-toggle="tooltip" data-placement="top" title="Retenido" class="fa fa-info-circle"></i>
            <i *ngIf="item.partial_hold" data-toggle="tooltip" data-placement="top" title="Parcialmente retenido" class="fa fa-info-circle"></i>
            <i *ngIf="item.refund" data-toggle="tooltip" data-placement="top" title="Devuelto" class="fa fa-info-circle"></i>
            <i *ngIf="item.partial_refund" data-toggle="tooltip" data-placement="top" title="Parcialmente devuelto" class="fa fa-info-circle"></i>
            <i [hidden]="item.hold || item.partial_hold || item.refund || item.partial_refund" class="fa fa-info-circle c-transparent"></i>
          </span>
        </td>
        <td>
          <span class="label label-primary bd-6 w-700">{{item.transaction.gateway_object.short_name}}</span>
        </td>
      </tr>
      <tr [ngClass]="{'gray': index % 2}">
        <td></td>
        <td colspan="6">
          <div class="collapse" [id]="index" [ngbCollapse]="!item.isCollapsed">
            <div class="card card-body">
              <app-core-item-sales [item]="item"></app-core-item-sales>
             
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</app-data-dable>
