// Base
@base-blue-color: #0083dd;
@base-dark-blue-color: #22262e;
@base-light-blue-color: #dfe7ef;
@base-background-blue: #F6FAFB;
@base-red-color: #ed1c24;
@base-white-color: white;
@base-black-color: black;
@base-gray-color: #f5f7fa;
@base-gray2-color: #efefef;
@base-dark-gray-color: #999999;
@base-transparent-color: transparent;
@base-green-color: #8dc449;

@font-size: 14px;
@font-medium-size: 13px;
@font-small-size: 12px;
@font-text-decoration-underline: underline;

@logo: url(/styles/global/images/logo/logo.svg) no-repeat;
@font-family: 'Open Sans',Helvetica,sans-serif!important;
@font-bold-weight: 600;
@font-bold-weight-active: 700;
@body-background-color: @base-background-blue;
@body-label-font-weight: inherit;

// Menu
@menu-background: @base-blue-color;
@menu-font-size: @font-size;
@menu-font-family: @font-family;
@menu-font-weight: @font-bold-weight;
@menu-font-weight-active: @font-bold-weight-active;
@menu-font-opacity: 0.7;
@menu-font-opacity-active: 1;
@menu-font-color: @base-white-color;
@menu-height: 55px;
@menu-logo-width: 80px;
@menu-padding: 15px 20px;
@menu-right-padding-top: 4px;
@menu-logo-size: 50%;
@menu-logo-position: center center;


// Sub-Menu
@sub-menu-background: @base-white-color;
@sub-menu-background-active: @base-white-color;
@sub-menu-font-family: @font-family;
@sub-menu-font-size: @font-medium-size;
@sub-menu-font-weight-active: @font-bold-weight-active;
@sub-menu-font-color: @base-dark-blue-color;
@sub-menu-font-opacity: 0.8;
@sub-menu-font-opacity-active: 1;
@sub-menu-height: 42px;
@sub-menu-border-bottom: 1px solid @base-light-blue-color;
@sub-menu-button-border-bottom-active: 2px solid @base-blue-color;
@sub-menu-letter-spacing: 0;

// AppHeader
@app-header-background: @base-blue-color;
@app-header-font-color: @base-white-color;
@app-header-border-radius: 0;
@app-header-top: 55px;
@app-header-height: 140px;
@app-header-widget-min-height: 138px;
@app-header-widget-padding: 15px 0;
@app-header-li-border: 1px solid #5d6576;

// Alert
@alert-top: 97px;
@alert-top-no-submenu: 58px;
@alert-page-content-top: 163px !important;
@alert-page-content-top-no-submenu: 124px !important;
@alert-position: relative;
@alert-width-100-display: block;
@alert-margin-between-alerts: 10px;
@alert-margin-bottom-title: 0 !important;
@alert-info-background-color: #e1f0fe;
@alert-i-color: @base-green-color;

// Panel
@panel-not-last-bottom: 10px;
@panel-text-transform: inherit;
@panel-a-plus-color: @base-blue-color;
@panel-a-plus-font-size: @font-small-size;
@panel-a-plus-hover-text-decoration: none;
@panel-header-btn-add-margin-top: -6px;
@panel-header-btn-block-margin-top: 10px;

// Paginator
@paginator-btn-margin-right: 0;
@paginator-btn-border-left: none !important;
@paginator-p-border-right: 1px solid rgba(12, 12, 12, 0.1) !important;
@paginator-p-padding-right: 10px;

// Input
@input-group-addon-background: #ddd !important;
@label-small-size: @font-small-size;
@label-small-size-margin-top: 12px;

// Table
@table-tbody-tbody-border: none;
@table-tbody-td-border-top: none;
@table-table-td-vertical-align: top !important;
@table-table-td-padding: 0 30px 0 10px !important;
@table-table-td-div-clear: both;
@table-table-td-p-margin: 0;
@table-table-td-p-float: right;
@table-table-td-p-odd-float: left;
@table-table-thead-border-bottom: none !important;
@table-table-thead-border-top: 2px solid #ddd !important;
@table-table-label-display: inline-block;
@table-table-label-margin: 5px 0;

// Label
@label-full-width: 100%;
@label-full-display: block;
@label-full-padding: 5px;
@label-font-size: 92%;

// Page Content
@page-content-header-h2-color: #535d65;
@page-content-header-h2-i-opacity: 1;
@page-content-header-h2-i-font-size: inherit;

// Pay Button
@pay-button-wrapper-border-width: 2px !important;
@pay-button-display: inline-block;
@pay-button-position: relative;
@pay-button-top: 10px;
@pay-button-margin: -10px 5px 0;
@pay-button-with-font-size: 11px;
@pay-button-with-display: block;
@pay-button-type-font-size: 21px;
@pay-button-type-display: block;
@pay-button-type-margin-top: -1px;
@pay-button-image-float: right;
@pay-button-image-width: 35px;
@pay-button-image-height: 35px;
@pay-button-image-margin: 4px 11px;
@pay-app-name-margin: 9px 7px 28px;
@pay-header-image-height: 35px;
@pay-header-image-margin-left: 0px !important;
@pay-header-image-margin-top: 11px !important;
@pay-header-image-margin-bottom: 12px;
@pay-header-h3-margin-top: 18px;
@pay-header-h3-padding-right: 3px;
@pay-header-h3-hover-cursor: pointer;
@pay-header-control-btn-top: 24px;
@pay-header-control-btn-right: 19px;
@pay-detail-border-radious: 0;
@pay-detail-min-width: 275px;
@pay-detail-border: none;
@pay-detail-padding: 0;
@pay-detail-table-td-padding: 5px 8px;
@pay-detail-popover-inner-border: 1px solid @base-gray2-color;
@pay-detail-popover-inner-border-bottom: 5px solid @base-blue-color;
@pay-detail-popover-inner-margin-top: -10px;
@pay-detail-arrow-display: none;
@pay-input-payers-input-display: inline-block;
@pay-input-payers-input-width: 110px;
@pay-input-payers-input-border: none;
@pay-input-payers-input-font-size: 70px !important;
@pay-input-payers-input-color: #5b5b5b;
@pay-input-payers-a-top: -10px;
@pay-input-payers-a-position: relative;

// Popover
@popover-dashboard-min-width: 200px;
@popover-sale-actions-min-width: 95px;





body {
    font-family: @font-family;
    background-color: @body-background-color;

    label {
        font-weight: @body-label-font-weight;

        &.small-size {
            font-size: @label-small-size;
            margin-top: @label-small-size-margin-top;
        }
    }

    a {
        color: @base-blue-color;
    }

    table {
        font-size: @font-small-size;

        &.table > tbody > tr >td {
            border-top: @table-tbody-td-border-top;
        }

        &.table > tbody + tbody {
            border: @table-tbody-tbody-border;
        }

        &.table-striped > tbody > tr:nth-of-type(odd) {
            background-color: @base-gray-color;
        }

        tr {
            background-color: @base-white-color;
            &.gray {
                background-color: @base-gray-color;
            }
        }

        table {
            background-color: @base-transparent-color !important;

            thead > tr > th {
                border-bottom: @table-table-thead-border-bottom;
                border-top: @table-table-thead-border-top;
            }

            tr {
                background-color: @base-transparent-color;
            }
            td {
                padding: @table-table-td-padding;
                vertical-align: @table-table-td-vertical-align;

                div {
                    clear: @table-table-td-div-clear;

                    p {
                        margin: @table-table-td-p-margin;
                        float: @table-table-td-p-float;

                        &:nth-of-type(odd) {
                            float: @table-table-td-p-odd-float;
                        }
                    }
                }
            }

            .label {
                margin: @table-table-label-margin;
                display: @table-table-label-display;
            }
        }
    }

    .i-am-new {
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 99999;
        display: none;

        .alert-info {
            background-color: #dfeefd;
            color: #0181db;
            font-size: 15px;
            text-align: center;

            a {
                color: #0181db;
            }
        }
        
        &.show {
            display: block;
        }
    }

    .pointer {
        cursor: pointer !important;
    }

    .badge {
        &.badge-primary {
            background-color: @base-blue-color;
        }
    }

    .label {
        font-size: @label-font-size;

        &.label-full {
            width: @label-full-width;
            padding: @label-full-padding;
            display: @label-full-display;
        }
        &.label-default {
            background-color: @base-dark-gray-color;
            color: @base-white-color;
        }

        &.label-danger {
            background-color: @base-red-color;
        }

        &.label-primary {
            background-color: @base-blue-color;
        }
    }

    .opacity-5 {
        opacity: .5 !important;
    }

    .opacity-6 {
        opacity: .6 !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-center {
        text-align: center !important;
    }

    .border-primary {
        border-color: @base-blue-color !important;
    }

    .c-primary {
        color: @base-blue-color !important;
    }

    .c-success {
        color: @base-green-color;
    }

    .c-transparent {
        color: @base-transparent-color;
    }

    .c-danger {
        color: @base-red-color;
    }

    .c-dark-gray {
        color: @base-dark-gray-color;
    }

    .c-black {
        color: @base-black-color;
    }

    .bg-gray {
        background-color: @base-gray-color !important;
    }

    .btn-blue {
        background-color: @base-blue-color;

        &[disabled] {
            background-color: @base-blue-color;
            opacity: .5;
        }

        &:hover {
            opacity: .87;
            background-color: #2196f3;
        }
    }

    .btn-default {
        background-color: @base-light-blue-color;
    }

    .btn-primary {
        background-color: @base-blue-color;
    }

    .text-danger {
        color: @base-red-color;
    }

    .public {
        .svg-logo {
            height: 35px;
        }
        .pull-center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
        }

        .b-t {
            border-top: 1px solid rgba(120, 130, 140, .13);
        }
        .center-block {
            max-width: 344px;
            margin: 0 auto;
            text-align: center;
        }

        input {
            border-radius: 4px;
            background-color: white !important;
        }

        .btn {
            height: auto !important;
            padding: 16px 50px;
        }

        a {
            display: inline-block;
        }

        h4 {
            line-height: 34px;
        }
    }

    .modal-dialog {
        .modal-body, .modal-footer {
            text-align: center;
        }
        .dialog-header-confirm {
            background-color: @base-blue-color;
        }
        .dialog-header-error {
            background-color: @base-red-color;
        }
    }

    .control-btn-left {
        left: 13px;
    }

    .margin-left-20 {
        margin-left: 20px !important;
    }

    .margin-top-6 {
        margin-top: 6px !important;
    }

    .btn-red {
        background-color: @base-red-color;
        color: @base-white-color;
    }

    .input-daterange .input-group-addon {
        background: @input-group-addon-background;
        color: @base-black-color;
    }

    .p-5 {
        padding: 5px !important;
    }

    .p-no-sides {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .p-no-top {
        padding-top: 0 !important;
    }

    .p-no-bottom {
        padding-bottom: 0 !important;
    }

    .m-no-bottom {
        margin-bottom: 0 !important;
    }

    .alerts-top {
        top: @alert-top;
        position: @alert-position;

        .alert-width-100 .media-body {
            display: @alert-width-100-display;
        }

        .alert:not(:last-child) {
            margin-bottom: @alert-margin-between-alerts;
        }

        .alert-info {
            background: @alert-info-background-color;
        }

        i {
            color: @alert-i-color;
        }

        .angular-title {
            margin-bottom: @alert-margin-bottom-title;
        }

        & + .page-content.ng-leave, & + .page-content + .page-content.ng-enter {
            top: @alert-page-content-top;
        }
    }

    .no-submenu {
        .alerts-top {
            top: @alert-top-no-submenu;

            & + .page-content.ng-leave, & + .page-content + .page-content.ng-enter {
                top: @alert-page-content-top-no-submenu;
            }
        }
        .sidebar-inner {
            border-bottom: none !important;
        }
    }

    &.sidebar-top {
        .sidebar {
            top: @menu-height !important;

            .logopanel {
                background: @menu-background;
                height: @menu-height;
                width: @menu-logo-width;

                h1 a {
                    background: @logo;
                    background-size: @menu-logo-size;
                    background-position: @menu-logo-position;
                }
            }
            .sidebar-inner {
                background: @sub-menu-background !important;
                border-bottom: @sub-menu-border-bottom;

                .nav-sidebar > li {
                    a, a span {
                        font-family: @sub-menu-font-family;
                        color: @sub-menu-font-color;
                        height: @sub-menu-height;
                        letter-spacing: @sub-menu-letter-spacing;
                    }

                    a span {
                        opacity: @sub-menu-font-opacity;
                    }

                    &.active > a span, &.nav-hover > a span {
                        color: @sub-menu-font-color;
                    }

                    &.active > a, &.nav-hover > a {
                        background-color: @sub-menu-background-active !important;
                        color: @sub-menu-font-color;
                        border-bottom: @sub-menu-button-border-bottom-active;
                    }

                    &.active > a span {
                        opacity: @sub-menu-font-opacity-active !important;
                        font-weight: @sub-menu-font-weight-active;
                    }
                }
            }
        }
    }

    &.theme-sdtl {
        &.color-default {
            .navbar-topmenu {
                background: @app-header-background;
            }
            .topbar {
                background: @menu-background;
            }
        }
    }

    .navbar-topmenu {
        min-height: @app-header-height;
        top: @app-header-top;
        border-radius: @app-header-border-radius;

        .widget-app {
            min-height: @app-header-widget-min-height;            
            padding: @app-header-widget-padding;

            .app-name {
                font-weight: 400;
                color: @app-header-font-color;
            }
            .app-status {
                color: @app-header-font-color;

                i {
                    color: @alert-i-color;
                }
            }
        }
        .app-stats-list {
            float: right;
            padding: 52px 0 40px;

            li {
                border-left: @app-header-li-border;
                padding-left: 20px;
                padding-right: 40px; 
                color: @app-header-font-color;

                .total {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-right: 0;

                    .suptitle {
                        font-size: 15px;
                        text-transform: uppercase;
                        position: absolute;
                        right: 15px;
                        top: 32px;
                        color: @base-dark-blue-color;
                    }
                    .value {
                        font-size: 3em;
                    }
                }
            }
        }
    }

    .topbar {
        height: @menu-height;
        left: @menu-logo-width !important;
        
        .header-left {
            ul.nav li {
                padding: @menu-padding;

                a {
                    width: auto;
                    font-size: @menu-font-size;
                    color: @menu-font-color;
                    font-family: @menu-font-family;
                    font-weight: @menu-font-weight;
                    opacity: @menu-font-opacity;
                }
                &.active a, &:hover a {
                    opacity: @menu-font-opacity-active;
                    color: @menu-font-color;
                }
                &.active a {
                    font-weight: @menu-font-weight-active;
                }
            }
        }
        .header-right {
            ul.header-menu > li {
                padding-top: @menu-right-padding-top;

                & > a {
                    span, i {
                        color: @menu-font-color;
                    }
                }
            }
        }
    }

    .main-content {
        .page-content {
            .header h2 {
                color: @page-content-header-h2-color;

                i {
                    opacity: @page-content-header-h2-i-opacity;
                    font-size: @page-content-header-h2-i-font-size;
                }
            }

            .panel {
                &:not(last-child) {
                    margin-bottom: @panel-not-last-bottom;
                }

                .panel-header {
                    outline: none;

                    h3 {
                        text-transform: @panel-text-transform;
                    }

                    .btn-add {
                        margin-top: @panel-header-btn-add-margin-top;
                    }

                    .btn-block {
                        margin-top: @panel-header-btn-block-margin-top;
                    }
                }
                .btn-link:hover,
                .btn-link:focus {
                    text-decoration: none;
                }
                .icon-rounded-info {
                    font-size: 1.5em;
                    color: @panel-a-plus-color;
                }

                a.plus {
                    color: @panel-a-plus-color;
                    font-size: @panel-a-plus-font-size;

                    &:hover {
                        text-decoration: @panel-a-plus-hover-text-decoration;
                    }
                }
            }

            &.ng-animate + .page-content.page-footer {
                display: none;
            }

            .paginator {
                p {
                    font-size: @font-small-size;
                    border-right: @paginator-p-border-right;
                    padding-right: @paginator-p-padding-right;
                }

                .btn-group .btn {
                    border-left: @paginator-btn-border-left;
                    margin-right: @paginator-btn-margin-right;

                    &:hover, &.active {
                        background-color: @base-gray-color;
                    }
                }
            }

            &.pay-content {
                top: 0 !important;

                .pay-button-wrapper {
                    border-width: @pay-button-wrapper-border-width;

                    .pay-button {
                        display: @pay-button-display;
                        position: @pay-button-position;
                        top: @pay-button-top;
                        margin: @pay-button-margin;

                        span.pay-with {
                            font-size: @pay-button-with-font-size;
                            display: @pay-button-with-display;
                        }
                        span.pay-type {
                            font-size: @pay-button-type-font-size;
                            display: @pay-button-type-display;
                            margin-top: @pay-button-type-margin-top;
                        }

                        & + img.pay-image {
                            float: @pay-button-image-float;
                            width: @pay-button-image-width;
                            height: @pay-button-image-height;
                            margin: @pay-button-image-margin;
                        }
                    }
                }

                .pay-header {
                    img {
                        height: @pay-header-image-height;
                        margin-left: @pay-header-image-margin-left;
                        margin-top: @pay-header-image-margin-top;
                        margin-bottom: @pay-header-image-margin-bottom;
                    }

                    h3 {
                        margin-top: @pay-header-h3-margin-top;
                        padding-right: @pay-header-h3-padding-right;

                        &:hover {
                            cursor: @pay-header-h3-hover-cursor;
                        }
                    }

                    .control-btn {
                        right: @pay-header-control-btn-right;
                        top: @pay-header-control-btn-top;
                    }
                }

                .pay-app-name {
                    margin: @pay-app-name-margin;
                }

                .pay-detail {
                    border-radius: @pay-detail-border-radious;
                    min-width: @pay-detail-min-width;
                    border: @pay-detail-border;
                    padding: @pay-detail-padding;

                    .popover-inner {
                        border: @pay-detail-popover-inner-border;
                        border-bottom: @pay-detail-popover-inner-border-bottom;
                        margin-top: @pay-detail-popover-inner-margin-top;
                    }

                    .arrow {
                        display: @pay-detail-arrow-display;
                    }

                    table {
                        td {
                            padding: @pay-detail-table-td-padding;
                        }
                    }
                }

                .pay-input-payers {
                    input {
                        display: @pay-input-payers-input-display;
                        width: @pay-input-payers-input-width;
                        border: @pay-input-payers-input-border;
                        font-size: @pay-input-payers-input-font-size;
                        color: @pay-input-payers-input-color;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    a {
                        top: @pay-input-payers-a-top;
                        position: @pay-input-payers-a-position;
                    }
                }
            }
        }
    }
    .application-list {
        top: 17px !important;

        .header {
            padding: 23px 0 15px !important;

            h2 {
                font-size: 23px !important;
                padding-bottom: 24px !important;
            }
        }

        .application-item {
            background-color: @base-white-color;
            border-radius: 2px;
            width: 100%;
            padding: 85px 20px 35px;
            margin-bottom: 20px;

            &.application-item-new {
                background-color: @base-blue-color;

                > .application-item-name {
                    > p {
                        color: @base-white-color;
                    }
                }
            }

            > .application-item-image {
                width: 60%;
                margin: 0 auto;
                text-align: center;

                > img {
                    border-radius: 100px;
                    border: 5px solid @base-light-blue-color;
                    height: 115px;
                }
            }

            > .application-item-name {
                width:80%;
                margin: 46px auto 0;
                color: @base-dark-gray-color;
                font-size: 11px;

                > p {
                    text-align: center;
                    color: @base-dark-blue-color;
                    font-size: 20px;
                    margin: 0;

                    > span {
                        color: @base-dark-gray-color;
                        font-size: 11px;
                        text-transform: uppercase;
                    }
                }
            }
            .btn {
                margin-top: 28px;
            }
            &.disabled {
                opacity: .7;

                > .application-item-name {
                    color: @base-red-color;
                }
            }
            &:hover {
                box-shadow: 0 0 2px #c8d0dc, 0 2px 2px rgba(116,125,147,0.4);
            }
        }
    }

    .widget-stock .tab_right .nav-tabs li.active a,
    .widget-stock .tab_right .nav-tabs li a{
        width: 250px;
    }
}

.popover-dashboard {
    border-radius: @pay-detail-border-radious;
    min-width: @popover-dashboard-min-width;
    padding: @pay-detail-padding;
    padding-top: 10px;

    &.popover-sale-actions {
        min-width: @popover-sale-actions-min-width;

    }
    .popover-inner {
        border-bottom: @pay-detail-popover-inner-border-bottom;
        margin-top: @pay-detail-popover-inner-margin-top;

        h3.popover-title {
            text-transform: capitalize;
            margin: 0;
            font-size: 13px;
            padding: 8px;
        }
        .popover-content {
            font-family: 'Open Sans', sans-serif;
            color: #7a7a7a;
            font-size: 12px;
            padding: 8px;
        }
    }

    table {
        td {
            padding: @pay-detail-table-td-padding;
        }
    }
}

.popover.tooltip {
    background-color: #000;
    padding: 0;
    color: #fff;
    font-size: 12px;

    & > .arrow {
        margin-left: -5px;
        border-width: 5px;
    
        &:after {
            border-top-color: #000;
            border-width: 5px;
            margin-left: -5px;
            bottom: -4px;
        }
    }
    .tooltip-inner {
        padding: 0;
        background-color: #000;

        .popover-content {
            padding: 3px 8px;
        }
    }
    .popover-content {
        padding: 3px 8px;
    }
}

@media screen and (max-width: 1024px) {
    body .alerts-top {
        top: 56px !important;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1530px;
    }
}


.topbar .header-left .topnav {
    .menutoggle {
        height: 55px;
    }
    .menu__handle {
        top: 15px;

        &::before,
        &::after,
        & span {
            background: #fff;
        }
    }
}

.left-sidebar {
    width: 240px;
    bottom: 0;
    left: 0;
    top: 55px;
    background-color: #fff;
    overflow: auto;
    pointer-events: auto;
    position: fixed;
    will-change: initial;
    z-index: 99999999;
    padding: 2em 0;
    padding-top: 20px; 
    will-change: transform;
    transform: translateX(-100%);
    background: #f2f4f7;

    &.left-sidebar--animate {
        -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.3, 1);
        transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
    }
    &.left-sidebar--opened.left-sidebar--over {
        box-shadow: 0 0 2.5em rgba(85,85,85,.5);
        transform: none;
    }
    .nav-sidebar {
        .arrow {
            font-size: @font-size !important;
            margin-right: 0 !important;
            margin-top: 5px;
            opacity: 0.4 !important;
            position: absolute;
            right: 20px;
            width: 10px;
            padding-left: 2px;
            padding-right: 0;

            &:before {
                content: "\f105";
                display: inline-block;
                -webkit-transition: transform 0.15s linear;
                -moz-transition: transform 0.15s linear;
                -o-transition: transform 0.15s linear;
                -ms-transition: transform 0.15s linear;
                transition: transform 0.15s linear;
            }
        }
        .nav-parent > a .fa.arrow.active:before {
            content: "\f105";
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        > li {
            > a {
                color: #000;
                border-radius: 0;
                display: block;
                font-family: 'Open Sans';
                font-size: 13px;
                letter-spacing: 0.6px;
                line-height: 21px;
                overflow: hidden;
                padding: 7px 20px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                
                i {
                    opacity: 0.62;
                    float: left;
                    margin-right: 10px;
                    padding-top: 3px;
                    text-align: left;
                }
                span:not(.badge) {
                    opacity: 0.62;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &.active {
                > a, 
                > a:hover,
                > a:focus {
                    background-color: #4a89dc;
                    color: #ffffff;
                }
                > a + .children {
                    display: block;
                }
            }
        }
        .children {
            background: #d7dce3;
            display: block;
            list-style: none;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            visibility: visible;

            &:after {
                border-left: 1px solid #fff;
                bottom: 0;
                content: "";
                left: 27px;
                position: absolute;
                top: 0;
            }
            li:before {
                background-color: #fff;
                border-color: rgba(0, 0, 0, 0);
                bottom: auto;
                content: "";
                height: 8px;
                left: 23px;
                margin-top: 15px;
                position: absolute;
                right: auto;
                width: 8px;
                z-index: 1;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
            > li > a {
                color: #94989d;
                display: block;
                font-size: 13px;
                height: 34px;
                line-height: 24px;
                overflow: hidden;
                padding: 7px 20px 7px 49px;
                font-family: "Open Sans", arial;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
                -ms-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;

                &:hover {
                    color: #393c3e;
                }
            }
            > li.active > a {
                color: #4a89dc;
            }
        }
    }
}
