<div class="page-content container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-header">
                    <h3>Estadísticas <strong>Generales</strong></h3>
                </div>
            </div>
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-8 row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <label class="form-label col-md-2 hidden-xs small-size">Rango:</label>
                                    <div class="col-md-10 ">
                                        <div class="input-daterange b-datepicker input-group" id="datepicker">
                                            <input type="text" (click)="from.toggle()" class="input-sm form-control form-white" placeholder="From" name="start" [displayMonths]="displayMonths"
                                            [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                                            #from="ngbDatepicker" [ngModelOptions]="{ debounce: 1000 }" [(ngModel)]="dateMin"
                                            (ngModelChange)="refreshGraphs()">
                                            <span class="input-group-addon">A</span>
                                            <input type="text" (click)="to.toggle()" class="input-sm form-control form-white" placeholder="To" name="end" [displayMonths]="displayMonths"
                                            [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                                            #to="ngbDatepicker" [ngModelOptions]="{ debounce: 1000 }" [(ngModel)]="dateMax"
                                            (ngModelChange)="refreshGraphs()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="clearfix"></div> -->
                </div>
                <div class="panel-content widget-full widget-stock stock2">
                    <div class="tab_right">
                        <div class="tab-content">
                            <div class="title-stock">
                                <h3><i class="icon-graph"></i>Valor de <strong>Ventas</strong></h3>
                                <span class="c-red hidden">100%</span>
                            </div>
                            <div class="tab-pane active">
                                <div class="clearfix"></div>

                                <canvas baseChart height="100" [datasets]="salesValueData" 
                                [labels]="salesValue.graph.labels" [chartType]="'line'">
                                  </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-content widget-full widget-stock stock2">
                    <div class="tab_right">
                        <div class="tab-content">
                            <div class="title-stock">
                                <h3><i class="icon-graph"></i>Cantidad de <strong>Ventas</strong></h3>
                                <span class="c-red hidden">100%</span>
                            </div>
                            <div class="tab-pane active">
                                <div class="clearfix"></div>

                                <canvas baseChart height="100" [datasets]="salesCountData" 
                                [labels]="salesCount.graph.labels" [chartType]="'line'">
                                  </canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-content widget-full widget-stock stock2">
                    <div class="tab_right">
                        <ul class="nav nav-tabs hidden-xs">
                            <li class="lines-3" *ngFor="let item of totalNGateways.graph.series; index as index"
                                                [ngClass]="{active: totalNGateways.activeTab === index}">
                                <a (click)="onTotalNGatewaysTabClick(index)">
                                    <div class="clearfix">
                                        <span class="title c-gray pull-left">{{item}}</span>
                                    </div>
                                    <div class="clearfix p-t-10">
                                        <span class="c-black f-18 pull-left"><strong>{{totalNGateways.graph.total[index]}}</strong></span>
                                        <span class="label label-primary p-5 pull-right">{{totalNGateways.graph.percent[index]}}%</span>
                                    </div>
                                </a>
                            </li>
                            <li class="lines-3">
                                <a ui-sref="private.applications.retrieve.settings.gateways.list">
                                    <div class="clearfix">
                                        <button type="button" class="btn btn-blue btn-sm btn-block">ADMINISTRAR MÉTODOS DE PAGO</button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="title-stock">
                                <h3><i class="icon-graph"></i>Valor de ventas por <strong>Pasarela</strong></h3>
                                <span class="c-red hidden">100%</span>
                            </div>
                            <div class="tab-pane active">
                                <div class="clearfix"></div>

                                <canvas baseChart height="100" [datasets]="totalData" 
                                [labels]="totalNGateways.graph.labels" [chartType]="'line'">
                                  </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>