<aside class="left-sidebar left-sidebar--over left-sidebar--animate" [ngClass]="{'left-sidebar--opened': isOpenSidebar}">
    <ul class="nav nav-sidebar">
      <li routerLinkActive="active">
        <a [routerLink]="[ 'dashboard' ]">
          Resumen
        </a>
      </li>

      <li class="nav-parent" routerLinkActive="active">
        <a (click)="isNavCoreActive = !isNavCoreActive">
          Pagos y Suscripciones
          <span class="fa arrow" [ngClass]="{'active': isNavCoreActive}"></span>
        </a>

        <ul class="children collapse" [ngClass]="{'hidden': !isNavCoreActive}">
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/core/sales/list' ]">
              <span>Pagos</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/private/applications/retrieve/core/subscriptions/list' ]">
              <span>Suscripciones</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/core/authorizations/list' ]">
              <span>Autorizaciones</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/core/transactions/list' ]">
              <span>Transacciones</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/core/orders/list' ]">
              <span>Órdenes</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-parent" [ngClass]="{'active': isNavItemsActive}">
        <a (click)="isNavItemsActive = !isNavItemsActive">
          Productos y Planes
          <span class="fa arrow" [ngClass]="{'active': isNavItemsActive}"></span>
        </a>

        <ul class="children collapsed" [ngClass]="{'hidden': !isNavItemsActive}">
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/items/products/list' ]">
              <span>Productos</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/items/plans/list' ]">
              <span>Planes</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/items/coupons/list' ]">
              <span>Cupones</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-parent" routerLinkActive="active">
        <a (click)="isNavStatsActive = !isNavStatsActive">
          Estadísticas
          <span class="fa arrow"></span>
        </a>

        <ul class="children collapsed" [ngClass]="{'hidden': !isNavStatsActive}">
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/stats/general/list' ]">
              <span>Ventas</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-parent" [ngClass]="{'active': !isNavSettingsActive}">
        <a (click)="isNavSettingsActive = !isNavSettingsActive">
          Configuración
          <span class="fa arrow" [ngClass]="{'active': isNavSettingsActive}"></span>
        </a>

        <ul class="children collapsed" [ngClass]="{'hidden': !isNavSettingsActive}">
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/settings/gateways/list' ]">
              <span>Pasarelas de Pago</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/settings/taxes/list' ]">
              <span>Impuestos</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/settings/shippings/list' ]">
              <span>Envíos</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="[ '/private/applications/retrieve/settings/webhooks/list' ]">
              <span>Web Hooks</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>