<app-create-or-edit [formGroup]="taxesForm" [data]="data">
<div class="panel-content">
    <div class="form-group">
        <label class="control-label">Nombre</label>
        <input type="text" name="name" class="form-control form-white" placeholder="Nombre" required
        formControlName="name">
        <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
    </div>
    <div class="form-group">
        <label class="control-label">Por ciento</label>
        <input type="text" name="percent" class="form-control form-white" placeholder="Por ciento" required
        formControlName="percent">
        <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.percent">{{ error }}</p>        
    </div>

</div>
</app-create-or-edit>