<app-data-dable [data]="data">
    <div class="control-btn">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-blue btn-md btn-add" id="dropdownBasic1" ngbDropdownToggle>Crear Orden</button>
            <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <li role="menuitem" class="dropdown-item"><a style="cursor: pointer;">Payment order</a></li>
              <li role="menuitem" class="dropdown-item"><a style="cursor: pointer;">Subscription order</a></li>
            </ul>
          </div>
    </div>

  <table class="table text-center table-content">   
    <thead>
      <tr>
        <th></th>
        <th class="text-center">token</th>
        <th class="text-center">tipo de transacción</th>
        <th class="text-center">fecha de creación</th>
        <th class="text-right">total a pagar</th>
        <th class="text-center">link de pago</th>
        <th class="text-center">acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of privateService.itemsList; index as index">
      <tr [ngClass]="{gray: index % 2}">
        <td (click)="item.isCollapsed = !item.isCollapsed">
          <div data-toggle="collapse" [attr.aria-expanded]="item.isCollapsed" [attr.aria-controls]="index">
            <i class="fa fa-minus-circle" [hidden]="!item.isCollapsed"></i>
            <i class="fa fa-plus-circle" [hidden]="item.isCollapsed"></i>
          </div>
        </td>
        <td class="text-left">{{item.token}}</td>
        <td>{{item.display_type}}</td>
        <td>{{item.created_date|date:'dd/MM/yyyy'}}</td>
        <td class="text-right">{{item.total_price}} {{item.currency_object.code}}</td>
        <td>
          <a href=""> Copiar </a>
        </td>
        <td class="text-right">
          <!-- edit item -->
          <a class="edit btn btn-sm btn-default" *ngIf="item.order_type === 'P'" data-toggle="tooltip" 
          data-placement="top" title="Editar" (click)="edit(item)">
            <i class="fa icon-note"></i>
          </a>
          <a  class="edit btn btn-sm btn-default" *ngIf="item.order_type === 'S'" data-toggle="tooltip" 
          data-placement="top" title="Editar" (click)="edit(item)">
            <i class="fa icon-note"></i>
          </a>
          <a class="edit btn btn-sm btn-danger" (click)="delete(item.id)" data-toggle="tooltip" data-placement="top" title="Eliminar">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
      <tr [ngClass]="{'gray': index % 2}" class="panel-collapse">
        <td></td>
        <td colspan="6">
          <div class="collapse" [id]="index" [ngbCollapse]="!item.isCollapsed">
            <div class="card card-body">
              <app-core-item [item]="item"></app-core-item>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</app-data-dable>
