<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyChoice2Pay | Panel de Control</title>
  <meta name="description" content="{{'MyChoice2Pay permite que los pagos sean fáciles, rápidos, seguros y universalmente accesibles'|translate}}">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">





  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="assets/global/css/ui.less">
  <link rel="stylesheet" type="text/css" href="assets/vendor-8d551869b0.css">
  <link rel="stylesheet" type="text/css" href="assets/app-2b89b8b133.css">

</head>

<body class="sidebar-top fixed-topbar fixed-sidebar theme-sdtl color-default">
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-51827924-5', 'auto');
    ga('send', 'pageview');

  </script>

  <app-root></app-root>
  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      Popover on right
    </button>
</body>
</html>
