<app-create-or-edit [formGroup]="couponForm" [data]="data">
    <div class="panel-content">
        <div class="form-group">
            <label class="control-label">ID de Cupón</label>
            <input type="text" formControlName="coupon_id" name="coupon_id" class="form-control form-white" placeholder="ID de Cupón">
        </div>
        <div class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" formControlName="name" name="name" class="form-control form-white" placeholder="Nombre" required>
            <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.name">{{ error }}</p>
        </div>
        <div class="form-group">
            <label class="control-label">Code</label>
            <input type="text" formControlName="code" name="code" class="form-control form-white" placeholder="Code" required>
            <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.code">{{ error }}</p>
        </div>
        <div class="form-group">
            <label class="control-label">Tipo de Cupón</label>
            <select formControlName="coupon_type" name="coupon_type" class="form-control form-white input-sm p-no-sides" data-search="true" required>
                <option *ngFor="let item of TypeChoices" value="{{item.id}}">{{item.name}}</option>
            </select>
            <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.coupon_type">{{ error }}</p>                            
        </div>
        <div class="form-group">
            <label class="control-label">Valor</label>
            <input type="text" formControlName="value" name="value" class="form-control form-white" placeholder="Valor" required>
            <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.value">{{ error }}</p>
        </div>
        <div class="form-group">
            <label class="control-label">Fecha de Expiración</label>
            <div class="prepend-icon">
                <input formControlName="expiration_date" name="expiration_date" class="date-picker form-control" placeholder="Selecciona una fecha..." 
                 type="text" (click)="from.toggle()"  [displayMonths]="displayMonths"
                [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
                #from="ngbDatepicker" (ngModelChange)="refreshItemsList()">

                <!-- <input type="text" formControlName="expiration_date" name="expiration_date" class="date-picker form-control" placeholder="Selecciona una fecha..."> -->
                <i class="icon-calendar"></i>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Usos totales</label>
            <input type="text" formControlName="total_uses" name="total_uses" class="form-control form-white" placeholder="Usos totales" required>
            <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.total_uses">{{ error }}</p>
        </div>
        <div class="form-group">
            <label class="control-label">Aplicar a</label>
            <div>
                <label class="checkbox checkbox--material">
                    <input type="checkbox" formControlName="apply_to_products" class="checkbox__input checkbox--material__input" name="apply_to_products">
                    

                    <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                    Productos
                </label>
                <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.apply_to_products">{{ error }}</p>
                <br>
                <label class="checkbox checkbox--material">
                    <input type="checkbox" formControlName="apply_to_plans" class="checkbox__input checkbox--material__input" name="apply_to_plans">
                    
                    <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                    Suscripciones
                </label>
                <p class="text-left text-danger text-sm" *ngFor="let error of privateService.errors.apply_to_plans">{{ error }}</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</app-create-or-edit>
