<div class="page-content container application-list">
  <div class="header">
    <h2>Selecciona tu
      <strong>Aplicación</strong>
    </h2>

  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let application of applicationsList">
      <a style="text-decoration:none" [routerLink]="[ '', application.id ]">
        <div class="application-item pointer">
          <div class="application-item-image">
            <img class="user image" src="{{application.logo || 'assets/image-default.jpg'}}">
          </div>

          <div class="application-item-name">

            <p>{{application.name}}</p>

            <p>
              <span>Aplicación en
                <span *ngIf="application.test">prueba</span>
                <span *ngIf="!application.test">producción</span>
              </span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3" [routerLink]="['new']" >
      <div class="application-item application-item-new pointer">
        <div class="application-item-image">
          <img class="user image" src="assets/new-application.jpg">
        </div>

        <div class="application-item-name">
          <p>Nueva Aplicaciónss</p>
          <p>
            <span>&nbsp;</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="header">
    <h2>Estadísticas
      <strong>Generales</strong>
    </h2>
  </div>

  <div class="row">
    <div>
      <div class="panel">
        <div class="panel-content widget-full widget-stock stock2">
          <div class="tab_right">
            <ul class="nav nav-tabs hidden-xs">
              <li class="lines-3" *ngFor="let item of totalNApplications.graph.series; index as index" [ngClass]="{'active': totalNApplications.activeTab==index}">
                <a (click)="onTotalNApplicationsTabClick(index)">
                  <div class="clearfix">
                    <span class="title c-gray pull-left">{{item}}</span>
                  </div>
                  <div class="clearfix p-t-10">
                    <span class="c-black f-18 pull-left">
                      <strong>{{totalNApplications.graph.total[index]}}</strong>
                    </span>
                    <span class="label label-primary p-5 pull-right">{{totalNApplications.graph.percent[index]}}%</span>
                  </div>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="title-stock">
                <h3>
                  <i class="icon-graph"></i>Pagos por
                  <strong>Aplicación</strong>
                </h3>
                <span class="c-red hidden">100%</span>
              </div>
              <div class="tab-pane active">
                <div class="clearfix"></div>
                <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNApplications.period === 'week'}" (click)="getTotalNApplicationsGraph('week')">
                  Semana
                </button>
                <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNApplications.period === 'month'}" (click)="getTotalNApplicationsGraph('month')">
                  Mes
                </button>
                <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': totalNApplications.period === 'year'}" (click)="getTotalNApplicationsGraph('year')">
                  Año
                </button>
                <div>
                  <!-- <canvas id="line">{{ chart }}</canvas>-->
                  <canvas baseChart height="100" [datasets]="dataLine" [labels]="totalNApplications.graph.labels" [chartType]="'line'">
                  </canvas>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="panel">
        <div class="panel-content p-15 p-b-0">
          <div class="title-stock">
            <h3>
              <i class="icon-graph"></i>Movimientos
              <strong>Totales</strong>
            </h3>
          </div>
          <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'week'}" (click)="getTransactionsNSalesGraph('week')">
            Semana
          </button>
          <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'month'}" (click)="getTransactionsNSalesGraph('month')">
            Mes
          </button>
          <button type="button" class="btn btn-default btn-sm" [ngClass]="{'btn-primary': transactionsNSales.period === 'year'}" (click)="getTransactionsNSalesGraph('year')">
            Año
          </button>

          <div>
            <canvas baseChart height="100" [datasets]="dataBar" [labels]="transactionsNSales.graph.labels" [chartType]="'bar'">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="logout()">logout</button>
