<section>
  <div class="public main-content">
<div class="page-content page-footer">
  <div>
    <div class="footer">

      <div class="copyright">

        <p class="pull-left sm-pull-reset">

          <span>© Copyright 2016 - 2018. MyChoice2Pay</span>
        </p>
        <div class="pull-right sm-pull-reset">
          <p>

            <a href="#" target="_blank" class="m-l-10 m-r-10 c-primary">
              Aviso Legal</a>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
