<div class="page-content container">
  <div class="header">
    <h2>
      <i class="fa fa-arrow-circle-o-left" (click)="back()"></i>
      Crear
      <strong>{{data.title}}</strong>
    </h2>
  </div>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="save(form)" novalidate>

    <div class="row">
      <div class="col-md-8">
        <div class="panel">
          <div class="panel-header">
            <h3>
              <strong>Datos</strong>
            </h3>
          </div>
          <!-- Form content -->
          <ng-content></ng-content>
          <!-- End Form content -->

          <div class="form-group">
            <label class="control-label">Order</label>
            <input type="text" name="order" class="form-control form-white" placeholder="Order" formControlName="order">
          </div>
          <div class="form-group">
            <label class="checkbox checkbox--material">
              <input type="checkbox" class="checkbox__input checkbox--material__input" name="activate" formControlName="activate">
              <div class="checkbox__checkmark checkbox--material__checkmark"></div>
              Activate
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-blue btn-lg btn-block">Guardar</button>
        <button type="button" class="btn btn-white btn-lg btn-block" (click)="back()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
